#image {
  display: block;
  height: auto;
  width: 80%;
  max-width:100%;
  margin: 0 auto;
}

img {
  display: block;
  height: auto;
  width:40%;
  max-width:100%;
  border: 6px solid #4d3737;
  border-radius: 4px;
/*  padding: 20px; */
  margin: 10px auto;
  align-items: center;
  background-color: #dec052;
  box-shadow: 7px 7px 2px rgba(204, 164, 24, 0.3);
}

body {
  margin: 0;
  font-family: Garamond, serif;
  background: linear-gradient(#e3decf, #756431);
}

main {
  display: block;
  border: 3px solid #8a2d31;
  margin: 20px auto;
  width:90%;
  max-width: 1100px;
  background-color: #ede2b9;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(138, 45, 49, 0.5);
}

ul {
  list-style:none;
}

h1, h2, h3 {
  text-align: center;
}

p {
 font-size: 18px;
 padding-left: 10px;
 padding-right: 10px;
}

figcaption {
  margin: 12px auto 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #8a2d31;
  border-radius: 3px;
  width: fit-content;
  background: linear-gradient(#ede2b9, #b08d3a )
}

.more-info {
  display: block;
  width: 70%;
  text-align: center;
  border: 3px solid #8a2d31;
  margin: 10px auto;
  border-radius: 10px;
  background: linear-gradient(#f0f0a8, #e3e33d )
}

a {
  color: #8a2d31;
}